h1 {
    padding-top: 3%;
    font-size: 2rem !important;

}

img {
    padding-top: 3rem;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}