h1 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-decoration: underline;
}

h2 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: 3.8%;
    text-decoration: underline;

}

section img {
    padding-top: 3rem;
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}


@media (max-width: 480px) {

    section img {
        width: 80% !important;
        padding-bottom: 3rem;
    }


}