h1 {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 2.5rem;
    text-decoration: underline;
}

h2 {
    padding-top: 7rem;
    padding-bottom: 2.5rem;
    margin-left: 3.8%;
    text-decoration: underline;

}

img {
    padding-top: 3rem;
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
